<footer
  class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-5 border-top"
>
  <section class="container d-flex justify-content-between">
    <div class="flex-column phrase_container">
      <span>RECIPIES WORTH</span>
      <p class="catch_phrase">KEEPING</p>
      <div class="mt-4 github">
        <p class="ref">
          Made by
          <a class="gh_link" href="{{ githubLink }}" target="_blank"
            ><span>Moneer</span></a
          >
        </p>
      </div>
    </div>

    <div>
      <ul class="nav list-unstyled">
        <li class="ms-3">
          <a><img src="../../../assets/images/apple.svg" alt="" /></a>
        </li>
        <li class="ms-3">
          <a> <img src="../../../assets/images/android.svg" alt="" /></a>
        </li>
      </ul>
      <div class="copyright">
        <p>&copy; All Rights Reserved</p>
      </div>
    </div>
  </section>
</footer>
